{% extends "blog/base.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Nuovo Post
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salva</button>

        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </form>
    <a href="{% url 'blog-home' %}" class="btn btn-secondary mt-2">Annulla</a>
{% endblock %}
